<% if local_assigns[:chorus] %>
  <div class="_singer"><p><i class="expand-singer cursor-pointer tiny material-icons" data-singerid="<%=singer.id%>" >expand_more</i><%= link_to singer.name, chorus_member_path(chorus, singer) %>, <%= get_linked_parts(get_membership(chorus, singer), chorus)%></p></div>
<% else %>
  <h4><%= link_to singer.name, singer_path(singer) %></h4>
  <ul>
    <% singer.memberships.each do |m| %>
      <% if m.valid? %>
      <li><%= link_to m.chorus.name, chorus_path(m.chorus) %>: <%= get_linked_parts(m, local_assigns[:chorus] ? chorus : nil) %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>