<!DOCTYPE html>
<html>
  <head>
    <title>MusicMeetingMastermind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper red darken-4">
        <%= link_to (image_tag ("treble-logo.png"), class: "responsive-img left brand-logo", size: "28"), "#" %>
        <div class="brand-logo center">
          <%= link_to "Music Meeting Mastermind", "/" %>
        </div>
        <div class="nav right">
          <%= render 'layouts/nav' %>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
