<!DOCTYPE html>
<html>
  <head>
    <title>MusicMeetingMastermind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper red darken-4">
        <%= link_to (image_tag ("treble-logo.png"), class: "responsive-img left brand-logo", size: "28"), "#" %>
        <div class="brand-logo center">
          <%= link_to "Music Meeting Mastermind", "/" %>
        </div>
        <div class="nav right">
          <%= render 'layouts/nav' %>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
  <br>
   <footer class="page-footer red darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                
              </div>
              <div class="col l4 offset-l2 s12">
                
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Paul Ashour
            <a class="grey-text text-lighten-4 right" href="artrexdenthur.github.io">My blog</a>
            </div>
          </div>
        </footer>
</html>
